@import '../reset.css';

.container {
    height: auto;
    background-color: initial;
    padding: 15px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: center;
    text-decoration-line: none;
    &:hover {
        background-color: rgba(168, 168, 168, 0.089);
        transform: scale(1.05);
        transition: all 0.4s;
    }
}

.poster {
    /* 사진 크기 웹페이지 사이즈에 따라 변경됨 */
    width: 100%;
    margin-bottom: 20px;
}

.title {
    color: black;
    font-size: 16px;
    font-weight: bold;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 0 auto;
}

.year {
    color: black;
    font-size: 15px;
    font-weight: 280;
    margin-top: 7px;
}

.year > :nth-child(2) {
    font-size: 10px;
}

.genres {
    margin-top: 7px;
    color: black;
    font-weight: 300;
}

@media screen and 
(max-width: 1680px) {
    .container {
        width: 13%;
    }
}

@media screen and 
(max-width: 1280px) {
    .container {
        width: 15%;
    }
}

@media screen and 
(max-width: 768px) {
    .container {
        width: 45%;
    }
}

@media screen and 
(max-width: 1024px) {
    .container {
        width: 45%;
    }
}