@import '../reset.css';

.loading_container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;

    .loading_text {
        font-size: 30px;
        margin-top: 25px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.site_title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: white;
    height: auto;

    .hr_detail {
        background-color: rgba(0, 0, 0, 0.219);
        margin-top: 15px;
        border: 0;
        height: 1px;
        width: 50%;
    }

    .container_box {
        width: 60%;
        display: flex;
        justify-content: space-around;
        margin: 30px auto;

        .text_box {
            width: 40%;
            padding: 20px;

            .title {
                font-weight: bold;
                font-size: 30px;
                margin-bottom: 10px;
            }

            .year {
                font-size: 18px;
                margin-bottom: 20px;
            }

            .rating {
                font-size: 15px;
                margin-bottom: 7px;
            }

            .likes {
                font-size: 15px;
                margin-bottom: 7px;
            }

            .genre {
                font-size: 15px;
                margin-bottom: 20px;
            }

            .description_container {
                .description_text {
                    font-size: 20px;
                    font-weight: bold;
                    margin-top: 15px;
                }

                .description_content {
                    font-size: 18px;
                    margin-top: 15px;
                    line-height: 150%;
                }
            }
        }
    }
}